<?php
/**
 * @var $this Mzentrale_Widget_Block_Adminhtml_Widget_Form_Element_Button_Default
 */
?>
<button id="<?php echo $this->getId() ?>" title="<?php echo $this->getButtonLabel() ?>" type="button"
        class="scalable add" onclick="mzwidget.addElement()">
        <span>
            <span>
                <span>
                    <?php echo $this->getButtonLabel() ?>
                </span>
            </span>
        </span>
</button>
