<button type="button" class="scalable add a-left" onclick="mzwidget.addImage('<?php echo Mage::helper('mzentrale_widget')->getWysiwygUrl($this->getElementId()) ?>')"><span><span><span><?php echo $this->__("Edit image") ?></span></span></span></button>
<img class="image-demo" id="#{field_prefix}_<?php echo $this->getElementId()?>_demo" src="#{<?php echo $this->getElementId()?>}" onclick="mzwidget.openImageDialog(this)"/>
