.seo .home { text-align: justify; font-family: "PT Sans", sans-serif; }
.seo .home h1 { font-family: "PT Sans", sans-serif; font-size: 2.5em; font-weight: bold; color: #e12f27; }
.seo .home .intro { font-size: 1.2em; }
.seo .home .row { font-size: 0.8em; padding-top: 15px; }
.seo .home a, .seo .home a.visited, .seo .home a.hover, .seo .home a.link { color: #000; }
.seo .home .slogan { font-size: 1.4em; font-weight: bold; color: #e12f27; font-style: italic; }

.product-carousel .products-grid-item .actions { display: none; }

.navbar-nav > li > .dropdown-menu { z-index: 9999; }
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text { font-size: 15px!important;  padding: 10px 4px;}

.catalog-category-view .layout-1-col .page-title h1 { font-weight:bold; text-transform:uppercase; font-size:2em; }
.catalog-category-view .category-products .products-grid .price-box, .catalog-category-view .category-products .products-grid .tax-details, .catalog-category-view .category-products .products-grid .actions { display: none; }

.catalog-product-view .menu h3 { margin-top: 0; text-transform: uppercase; }

.catalog-product-view .layout-3-cols .product-img-box h1 { margin:0px; font-size:2.5em; font-weight:bold; }
.catalog-product-view .layout-3-cols .product-name h2 { font-size:1.5em; }
.catalog-product-view .layout-3-cols .product-image { text-align:center; }
.catalog-product-view .layout-3-cols .product-image #image { max-width:400px; }
.catalog-product-view .xs-dimension { line-height: 36px !important; }

.downloads-links-block {background-color: #e12f27 !important; border: 1px solid #dfdfdf; color: #fff !important; font-size: 20px; font-weight: 700; margin-bottom: 7px; margin-top: 4px; padding: 7px; text-align: center !important; }
.downloads-links-block a { color:#CCC; }
.downloads-links-block a:hover { color:#FCB; }
.downloads-links-block h4 { font-weight: 700; font-size: 22px; }

.catalog-product-view .complementary-left { width: 20% !important; }
.catalog-product-view .complementary-right { width: 30% !important; }
.catalog-product-view .complementary-right .product-view .product-shop .add-to-box { display: none; }

#super-product-table .row { height:auto !important; }
#super-product-table .row > div { font-weight: normal !important; text-transform: uppercase; }
#super-product-table .row > div > div { display:block !important; }

footer address {width: 100% !important;padding:0;}

.catalogsearch-result-index .products-grid .product-name {padding-bottom:20px !important;}

.catalogsearch-result-index .products-grid .price-box,
.catalogsearch-result-index .products-grid .tax-details,
.catalogsearch-result-index .products-grid .actions,
.catalogsearch-result-index .limiter
{display: none !important;}

.checkout-onepage-index #checkout-progress-wrapper address {float: none !important;padding-left: 0;}
.checkout-onepage-index aside[role=complementary] {margin-top: 20px !important;}
.checkout-onepage-index #checkout-review-table-wrapper {border: 0 !important;}
.checkout-onepage-index #checkout-review-submit {background: 0 !important;border: 0 !important;}

#shopping-cart-table input.qty {background: #eee !important;}

.my-account address { float: none !important; }