<?php
/**
 * @var $this Mage_Core_Block_Template
 */
?>
<div class="col-sm-4 col-xs-12 product-view" style="margin-left: 0; margin-right: 0">
    <div class="product-shop">
        <div class="product-name">
            <h2><?php echo $this->__('Customization') ?></h2>
        </div>
        <div class="product-description"><?php echo $this->__('Customize your product') ?></div>
        <br><ul class="form-list">
            <li class="control">
                <div class="input-box">
                    <input type="radio" name="customization" value="<?php echo Oleoweb_Catalog_Model_Product_Customization::CUSTOMIZATION_NONE?>" id="customization_none" checked="checked"/>
                    <label for="customization_none" style="display: inline"><?php echo $this->__('Standard Oleoweb marking')?></label>
                    <p><?php echo $this->__('(48 hours despatch)')?></p>
                </div>
            </li>
            <li class="control">
                <div class="input-box">
                    <input type="radio" name="customization" value="<?php echo Oleoweb_Catalog_Model_Product_Customization::CUSTOMIZATION_CUSTOM?>" id="customization_custom"/>
                    <label for="customization_custom" style="display: inline"><?php echo $this->__('Customized marking')?></label>
                    <p><?php echo $this->__('(72 hours despatch)')?></p>
                    <p><?php echo $this->__('The logo must be sent to sales@owshop.biz in .dxf format made through a technical drawing program. Material will be despatched 72 hours after the file approval.')?></p>
                    <br/>
                    <p><i><?php echo $this->__('Customized marks provides a 10% price increase') ?></i></p>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $$('input[type="radio"][name="customization"]').invoke('observe', 'click', function(event) {
        Event.fire(document, 'product:customization_mark', {
            mark_type: event.target.value
        });
    });
</script>
