<button id="#{form-id}-head" type="button" class="scalable" onclick="Fieldset.toggleCollapse('#{form-id}'); return false;"><span><span><span><?php echo $this->__("Open/Close") ?></span></span></span></button>
<button type="button" class="scalable delete" onclick="mzwidget.removeElement(this)"><span><span><span><?php echo $this->__("Remove") ?></span></span></span></button>
