<label id="#{field_prefix}_<?php echo $this->getElementId()?>label">#{<?php echo $this->getElementId()?>transport}</label>
<button type="button" class="scalable a-left" data-unique-id="#{field_prefix}_<?php echo $this->getElementId() ?>" onclick="mzwidget.openCmsPageChooser(this)" data-url="<?php echo $this->getUrl('*/cms_block_widget/chooser') ?>"><span><span><span><?php echo $this->__("Select CMS block") ?></span></span></span></button>
