<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * Product list template
 *
 * @var $this Oleoweb_Catalog_Block_Category_List
 * @var $_category Mage_Catalog_Model_Category
 */
?>

<?php
$_categoryCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php if(!$_categoryCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no categories matching the selection.') ?></p>
<?php else: ?>
    <div class="category-products">
        <?php echo $this->getToolbarHtml() ?>
        <?php // List mode ?>
        <?php if($this->getMode()!='grid'): ?>
            <?php $_iterator = 0; ?>
            <ol class="products-list" id="products-list">
                <?php foreach ($_categoryCollection as $_category): ?>
                    <li class="item<?php if( ++$_iterator == sizeof($_categoryCollection) ): ?> last<?php endif; ?>">
                        <?php $_categoryNameStripped = $this->stripTags($_category->getName(), null, true); ?>
                        <a href="<?php echo $_category->getUrl() ?>" title="<?php echo $_categoryNameStripped ?>" class="product-image">
                            <img src="<?php echo Mage::helper('oleoweb_catalog')->getCategoryListImageUrl($_category) ?>" alt="<?php echo $_categoryNameStripped ?>" width="220" />
                        </a>
                        <div class="product-shop">
                            <h2 class="product-name">
                                <a href="<?php echo $_category->getUrl() ?>" title="<?php echo $_categoryNameStripped; ?>">
                                    <?php echo $_helper->categoryAttribute($_category, $_category->getName() , 'name'); ?>
                                </a>
                            </h2>
                            <div class="desc std">
                                <?php echo $_helper->categoryAttribute($_category, $_category->getShortDescription(), 'short_description') ?>
                                <a href="<?php echo $_category->getUrl() ?>" title="<?php echo $_categoryNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
            <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

        <?php else: ?>

        <?php // Grid Mode ?>

        <?php $_collectionSize = $_categoryCollection->count() ?>
        <?php //$_columnCount = $this->getColumnCount(); ?>
        <?php $_columnCount = 6; ?>
        <?php $i=0; foreach ($_categoryCollection as $_category): ?>
        <?php if ($i++%$_columnCount==0): ?>
            <ul class="products-grid">
        <?php endif ?>
            <li class="col-md-2 item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo Mage::helper('oleoweb_catalog')->renderCategoryUrl($_category) ?>" title="<?php echo $this->stripTags($_category->getName(), null, true) ?>" class="product-image">
                    <img src="<?php echo Mage::helper('oleoweb_catalog')->getCategoryListImageUrl($_category) ?>" alt="<?php echo $this->stripTags($_category->getName(), null, true) ?>" width="220" />
                </a>
                <h2 class="product-name">
                    <a href="<?php echo Mage::helper('oleoweb_catalog')->renderCategoryUrl($_category) ?>" title="<?php echo $this->stripTags($_category->getName(), null, true) ?>">
                        <?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?>
                    </a>
                </h2>
            </li>
            <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
            </ul>
        <?php endif ?>
        <?php endforeach ?>
            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
        <?php endif; ?>

        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>
<?php endif; ?>
