<?php
/**
 * @var $this Mzentrale_Widget_Block_Adminhtml_Widget_Form_Element_Js_Templates_Row_Button
 */
?>
<?php echo Mage::log($this->getAvailableElements())?>
<select id="widget-type-selector" onchange="mzwidget.createRowElement(this)">
    <option value="" selected="selected"><?php echo $this->getButtonLabel()?></option>
    <?php foreach ($this->getAvailableElements() as $code => $element): ?>
        <option value="<?php echo $code ?>"><?php echo $this->__($element['label'])?></option>
    <?php endforeach; ?>
</select>
