<?php
/**
 * @var $this Mzentrale_Widget_Block_Adminhtml_Widget_Form_Renderer_Abstract
 */
?>
<?php foreach ($this->getAvailableElementsTemplate() as $code): ?>
<script type="text/template" id="<?php echo $code ?>">
    <li class="fieldset-container"><?php echo $this->getFormTemplateHtml($code)?></li>
</script>
<?php endforeach; ?>
<script type="text/javascript">
    $(document).observe('dom:loaded', function() {
        window.mzwidget = new MzWidget(<?php echo $this->getParameterByTypeJson()?>);
    });
</script>
<ul id="fieldsets" style="position: relative;"></ul>
