<?php
/**
 * @var $this Mzentrale_Widget_Block_Adminhtml_Widget_Form_Renderer_Js_Templates_Slider
 */
?>
<script type="text/template" id="slider-slide-template">
<li class="fieldset-container"><?php echo $this->getFormTemplateHtml()?></li>
</script>
<script type="text/javascript">
    $(document).observe('dom:loaded', function() {
        window.mzwidget = new MzSlider(<?php echo $this->getParameterByTypeJson()?>);
    });
</script>
<ul id="fieldsets" style="position: relative;"></ul>
