body { font-size: 18px; }
a { color:#c40024; }
.product-name { font-size:18px; line-height:22px; }
#super-product-table .row { height:auto !important; }
#super-product-table .row > div > div { display:block !important; }

.navbar-nav > li > .dropdown-menu { z-index: 9999; }

.catalog-category-view .layout-1-col .page-title h1 { font-weight:bold; text-transform:uppercase; font-size:2em; }

.catalog-product-view .layout-3-cols .product-img-box h1 { margin:0px; font-size:2.5em; font-weight:bold; }
.catalog-product-view .layout-3-cols .product-name h2 { font-size:1.5em; }
.catalog-product-view .layout-3-cols .product-image { text-align:center; }
.catalog-product-view .layout-3-cols .product-image #image { max-width:400px; }
.catalog-product-view .xs-dimension { line-height: 36px !important; }

#super-product-table .row > div { font-weight: normal !important; text-transform: uppercase; }

footer[role="contentinfo"] .bugs, footer[role="contentinfo"] .links, footer[role="contentinfo"] address, footer[role="contentinfo"] > ul { width: 100% !important; }
footer { padding-top: 20px; padding-bottom: 10px; }

@media (max-width: 992px) { 
	#super-product-table .row > div:last-child div.content { position:relative !important; }
	.catalog-product-view .complementary-right { display:block !important; width:90% !important; margin-left:5%; }
	.product-view .product-shop { margin-bottom:0px; }
}

@media (max-width: 767px) { 
	#super-product-table .row > div:last-child div.content { position:relative !important; }
	.catalog-product-view .complementary-right { display:block !important; width:90% !important; margin-left:5%; }
	.product-view .product-shop { margin-bottom:0px; }
}