<label id="#{field_prefix}_<?php echo $this->getElementId()?>label">#{<?php echo $this->getElementId()?>value}</label>
<button type="button" class="scalable add a-left" data-unique-id="#{field_prefix}_<?php echo $this->getElementId()?>" onclick="mzwidget.openProductChooser(this)" data-url="<?php echo $this->getUrl('*/mzentrale_widget_product/chooser', array('use_massaction' => $this->getUseMassaction())) ?>"><span><span><span><?php echo $this->__("Add products") ?></span></span></span></button>
