<button id="#{form-id}-head" type="button" class="scalable" onclick="Fieldset.toggleCollapse('#{form-id}'); return false;"><span><span><span><?php echo $this->__("Open/Close") ?></span></span></span></button>
<button type="button" class="scalable add" onclick="mzwidget.addImage('<?php echo $this->getWysiwygUrl('image') ?>')"><span><span><span><?php echo $this->__("Add image") ?></span></span></span></button>
<button type="button" class="scalable add" onclick="mzwidget.addImage('<?php echo $this->getWysiwygUrl('mobile_image') ?>')"><span><span><span><?php echo $this->__("Add mobile image") ?></span></span></span></button>
<button type="button" class="scalable delete" onclick="mzwidget.removeElement(this)"><span><span><span><?php echo $this->__("Remove") ?></span></span></span></button>
