<?php
/**
 * @var $this Oleoweb_Catalog_BLock_Product_View_Navigation
 * @var $category Mage_Catalog_Model_Category
 */

?>
<?php if (count($this->getCollection())): ?>
<section class="menu">
    <h3><?php echo $this->__('Prodotti')?></h3>
    <ul>
        <?php foreach ($this->getCollection() as $category): ?>
        <li>
            <a href="<?php echo $category->getUrl()?>"><?php echo $category->getName()?></a>
        </li>
        <?php endforeach; ?>
    </ul>
</section>
<?php endif; ?>
