<?php
/**
 * @var $this Mzentrale_Widget_Block_Slider
 * @var $slide Mzentrale_Widget_Block_Slider_Slide
 */
?>
<div id="home-slider" class="carousel slide mzwidget" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <?php echo $this->getChildHtml() ?>
    </div>
    <a class="left carousel-control" role="button" href="#home-slider" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"><?php echo $this->__('Previous') ?></span></a>
    <a class="right carousel-control" role="button" href="#home-slider" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"><?php echo $this->__('Next') ?></span></a>
</div>
<script type="text/javascript">
    var firstElement = jQuery(jQuery('#home-slider').find('.item')[0]);
    if (firstElement.length) {
        firstElement.addClass('active');
    }
</script>
