<button type="button" class="scalable a-left" data-unique-id="#{field_prefix}_<?php echo $this->getFieldId() ?>" onclick="mzwidget.openCategoryChooser(this)" data-url="<?php echo $this->getUrl('*/catalog_category_widget/chooser') ?>"><span><span><span><?php echo $this->__("Category link") ?></span></span></span></button>
<label id="#{field_prefix}_<?php echo $this->getFieldId()?>label">#{<?php echo $this->getFieldId()?>transport}</label>
