<button type="button" class="scalable a-left" data-unique-id="#{field_prefix}_<?php echo $this->getFieldId() ?>" onclick="mzwidget.openCmsPageChooser(this)" data-url="<?php echo $this->getUrl('*/cms_page_widget/chooser') ?>"><span><span><span><?php echo $this->__("CMS Page link") ?></span></span></span></button>
<button type="button" class="scalable a-left" data-unique-id="#{field_prefix}_<?php echo $this->getFieldId() ?>" onclick="mzwidget.openCategoryChooser(this)" data-url="<?php echo $this->getUrl('*/catalog_category_widget/chooser') ?>"><span><span><span><?php echo $this->__("Category link") ?></span></span></span></button>
<button type="button" class="scalable a-left" data-unique-id="#{field_prefix}_<?php echo $this->getFieldId() ?>" onclick="mzwidget.openProductChooser(this)" data-url="<?php echo $this->getUrl('*/mzentrale_widget_product/chooser') ?>"><span><span><span><?php echo $this->__("Product link") ?></span></span></span></button>
<button type="button" class="scalable a-left" data-unique-id="#{field_prefix}_<?php echo $this->getFieldId() ?>" onclick="mzwidget.openLinkChooser(this)"><span><span><span><?php echo $this->__("External link") ?></span></span></span></button>
<label id="#{field_prefix}_<?php echo $this->getFieldId()?>label">#{<?php echo $this->getFieldId()?>transport}</label>
<div class="hidden" id="#{field_prefix}_<?php echo $this->getFieldId() ?>_dialog_template">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Insert external link')?></h4>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <table cellspacing="0" class="form-list">
                <tbody>
                <tr>
                    <td class="label"><label for="#{field_prefix}_<?php echo $this->getFieldId() ?>clone"><?php echo $this->__('External link')?></label></td>
                    <td class="value">
                        <input type="text" value="#{<?php echo $this->getFieldId()?>value}" id="#{field_prefix}_<?php echo $this->getFieldId() ?>clone"/>
                    </td>
                    <td class="value">
                        <button type="button" class="scalable" id="#{field_prefix}_<?php echo $this->getFieldId() ?>_trigger"><?php echo $this->__("Save") ?></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
