<?php
/**
 * @var $this Mzentrale_Widget_Block_Adminhtml_Widget_Instance_Grid_Renderer_Copy
 * @var $store Mage_Core_Model_Store
 */
?>
<div class="mzwidget v-container">
    <div>
        <select name="copy_to_<?php $this->getWidgetInstance()->getId()?>" id="mzwidget_copyto_<?php echo $this->getWidgetInstance()->getId()?>" class="required-entry validate-select">
            <option value=""><?php echo $this->__('Select store to copy to') ?></option>
            <?php foreach ($this->getStoresOptions() as $store): ?>
            <option value="<?php echo $store->getId()?>"><?php echo $store->getName()?></option>
            <?php endforeach; ?>
        </select>
    </div>
    <div>
        <button title="<?php echo $this->__('Copy') ?>" type="button" class="scalable add mzwidget copy-to" data-widget-id="<?php echo $this->getWidgetInstance()->getId()?>">
            <?php echo $this->__('Copy') ?>
        </button>
    </div>
</div>
