<?php
/**
 * @var $this Mzentrale_Widget_Block_Adminhtml_Widget_Instance_Grid_Renderer_Delete

 */
?>
<div class="mzwidget v-container">
    <div>
        <button title="<?php echo $this->__('Delete') ?>" type="button" class="scalable delete mzwidget" onclick="setLocation('<?php echo $this->getDeleteUrl()?>')">
            <?php echo $this->__('Delete') ?>
        </button>
    </div>
</div>
