<?php
/**
 * @var $this Mzentrale_Widget_Block_Banner
 */
$staticLink = $this->getData('static_link') ? Mage::helper('cms')->getBlockTemplateProcessor()->filter($this->getData('static_link')) : null; ?>
<div class="banner <?php echo $this->getColumnCssClass()?>">
    <a href="<?php echo $staticLink ? $staticLink : $this->getButtonLink()?>" title="<?php echo $this->getAltText()?>">
        <picture>
            <source srcset="<?php echo $this->getImageUrl()?>" media="(min-width: 768px)">
            <img src="<?php echo $this->getMobileImageUrl()?>" alt="<?php echo $this->getTitle()?>" class="img-responsive">
        </picture>
    </a>
</div>
