#loading-mask {
    z-index: 10000;
}
.hidden {
    display:none;
}

img.image-demo {
    height: 1.7em;
    cursor: pointer;
}

#image-widget-magnifier_content {
    height: auto;
    text-align: center;
}

#image-widget-magnifier_content img {
    max-width: 100%;
}

.mzwidget td.value button.a-left {
    float:left;
    margin-right: 6px;
}
.mzwidget td.value button.a-right:first-child {
    margin-right: 0;
}

.mzwidget.subfieldset {
    display: inline-block;
    width: 49.8%;
    vertical-align: top;
}

.mzwidget.subfieldset.fullwidth {
    width: 100%;
    display: block;
}

.mzwidget.subfieldset .form-list td.value   {
    width: 100%;
}

.mzwidget .form-list td.value   {
    width: 70%;
}

.mzwidget.v-container {
    display: table;
    margin: 0 auto
}

.mzwidget.v-container > div {
    display: table-cell;
    vertical-align: middle;
    padding: .5em;
}

#widgetInstanceGrid_table td {
    vertical-align: middle;
}

.mzwidget.date {
    white-space: nowrap;
    display: block;
    padding: .5em;
    color: white;
    border-radius: .5em;
}
.mzwidget.date.warning {
    background-color: orange;
}
.mzwidget.date.valid {
    background-color: seagreen;
}
.mzwidget.date.invalid {
    background-color: firebrick;
}
