<?php
/**
 * @var $this Mzentrale_Widget_Block_Promo
 */

?>
<div class="promo <?php echo $this->getColumnCssClass()?>">
<?php if ($this->getUseStaticBlock()): ?>
    <?php echo $this->getStaticBlockHtml() ?>
<?php else: ?>
    <a href="<?php echo $this->getButtonLink('link')?>">
        <picture>
            <source srcset="<?php echo $this->getImageUrl()?>" media="(min-width: 768px)">
            <img src="<?php echo $this->getMobileImageUrl()?>" alt="<?php echo $this->getTitle()?>" class="img-responsive">
        </picture>
    </a>
<?php endif; ?>
</div>
