<?php
/**
 * @var $this Mzentrale_Widget_Block_Slider
 * @var $slide Mzentrale_Widget_Block_Slider_Slide
 */
?>
<div class="container">
    <div id="home-slider">
        <?php echo $this->getChildHtml() ?>
    </div>
</div>
<script type="text/javascript">
    jQuery('#home-slider').slick();
</script>
