<?php
/**
 * @var $this Mzentrale_Widget_Block_Teaser
 */
?>
<div class="teaser <?php echo $this->getColumnCssClass()?>">
    <div class="inner-content" style="<?php echo $this->getContentContainerCssClass()?>">
        <picture>
            <source srcset="<?php echo $this->getImageUrl()?>" media="(min-width: 768px)">
            <img src="<?php echo $this->getMobileImageUrl()?>" alt="<?php echo $this->getTitle()?>" class="img-responsive">
        </picture>
        <div class="text-content">
            <h1><?php echo $this->getTitle()?></h1>
            <h2><?php echo $this->getText()?></h2>
            <a href="<?php echo $this->getButtonLink()?>" class="important button large"><?php echo $this->getButtonText()?></a>
        </div>
    </div>
</div>
