<?php
/**
 * @var $this Zeta_Seo_Block_Category_Meta
 * @var $store Mage_Core_Model_Store
 */
?>
<?php foreach (Mage::app()->getStores() as $store): ?>
    <?php if ($store->getCode() != Mage::app()->getStore()->getCode() && $store->getWebsiteId() == Mage::app()->getWebsite()->getId()): ?>
        <link rel="alternate" href="<?php echo $this->getAlternateLink($store)?>" hreflang="<?php echo $store->getConfig('general/locale/code')?>"/>
    <?php endif; ?>
<?php endforeach; ?>
<?php if ($this->getPrevLink()): ?>
<link rel="prev" href="<?php echo $this->getPrevLink()?>"/>
<?php endif; ?>
<?php if ($this->isNoIndex()): ?>
<meta name="robots" content="noindex"/>
<?php endif; ?>
<?php if ($this->isNoFollow()): ?>
<meta name="robots" content="nofollow"/>
<?php endif; ?>
